<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
</head>
<body>
<div>
	<br><h1>Write your essay here!</h1><br><br>
</div>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="user_name" />
    </div>
    <div>
        <label for="mail">E-mail:</label>
        <input type="email" id="mail" name="user_email" />
    </div>
    <div>

        <label for="essay">Essay:</label>
        <textarea id="essay"></textarea>
    </div>
    <div>
    	<input type="file" name="user_file">
    </div>
    <div class="button">
        <button type="submit">Send your essay!</button>
    </div>
</form>
</body>
</html>
