Merhaba,

Aşağıdaki mesajım ulaşmamış olabilir. Yeniden yolluyorum.

Bora.

On 12.3.2016 23:59, Bora Güngören (Bilkent U.) wrote:
>
> Merhaba,
>
> Aynı şey değil. Legend sizin sürece başlamanızı sağlayacak hızlı bir 
> doküman olması için tasarlanmıştı.
>
> Aslında Project 1 raporu için konu dizilimini 5 ve 6 numaralı 
> oturumlarda ele almıştık. 5-11 nolu slaytta iki farklı renkte ifade 
> edilen başlıklar zaten Report 1'i ve Report 2'de ona eklenecekleri 
> ifade ediyor. 5-7 nolu slaytta da buradaki iki ana bölümde neleri 
> tartışacağımız yer alıyor.
>
> Buna göre Report 1 şöyle bir şey (ve çok zor değil)
>
>     Summary
>     Problem Statement
>     Approach
>     Requirements Analysis
>         Stakeholder identification
>         Requirements (Functional & Quality)
>         Scenarios
>         State Diagrams
>         Technical Problem Analysis
>     Domain Analysis
>         Domain identification
>         Knowledge Sources Identification
>         Concepts
>         Structure of Concepts
>         Domain model
>
> Bu konular kısmen Legend ile örtüşüyor ve zaten örtüşmeleri de normal.
>
> Bora.
>
>
> On 12.3.2016 17:30, Mustafa YILDIZ wrote:
>> Merhaba hocam,
>> 4 gün sonraya due datei olan project 1 ile legend aynı şey mi?
>> iyi günler
>>
>
>


-- 
Bora Güngören
Instructor
Bilkent University
CS & CTE Depts.
